<h2>Hello {{user.username}}!</h2>

<div>
  <form action="/editUser?_method=PUT" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT">

    <img src="{{user.userImage}}" class="user-img">
    <label for="userImage">Edit Image</label>
    <input type='file' name='userImage' value="{{user.userImage}}"/>

    <label for="username">Username</label>
    <input type="username" name="username" id="username" value="{{user.username}}">

    {{!-- <label for="password">Password</label>
    <input type="password" name="password" id="password"> --}}

    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="first-name" value="{{user.firstName}}">

    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="last-name" value="{{user.lastName}}">

    <label for="email">Email Address</label>
    <input type="email" name="email" id="email" value="{{user.email}}">

    {{#each projects}}
      {{#if this.included}}
         <div>
        <input type="checkbox" value="{{this._id}}" name="project" checked="checked">
        {{this.projectName}}
        </div>

      {{else}}

        <div>
        <input type="checkbox" value="{{this._id}}" name="project">
        {{this.projectName}}
        </div>
      {{/if}}
    {{/each}}

    

    <button>Edit Profile</button>

    
  
  </form>
</div>