<div>
  <h3>Projects</h3>



<form action="/projects/create" method="POST">
        Project Name: <input type="text" name="projectName" id="project-name">
        <input type="submit" value="Add Project">
</form>



  </form>
  {{#each projects}}

    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a href='/projects/{{this._id}}' class="card-link">{{this.projectName}}</a></h5>
          <hr>
          <a href="#" class="card-link">Edit Project</a>
          <a href="#" class="card-link">Delete Project</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated {{this.updated_at}}</small>
        </div>
      </div>
    </div>

    
  {{!-- <ul>
    <li>
      <form method="GET"> 
        <a href="/Projects/{{this._id}}">{{this.projectName}}</a>
      </form>
       <form action="/editproject/{{this._id}}" method="POST">
        Project Name:  <input type="text" name="projectName" value="{{this.projectName}}">
        <input type="submit" value="Edit Project">
       </form>
        <form action="/deleteproject/{{this._id}}" method="POST">
        <input type="submit" value="Delete Project">
       </form>

    </li>
  </ul> --}}
  {{/each}}
</div>

