<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">#daWeekly</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        {{#if currentUser}}
        <li class="nav-item active">
          <a class="nav-link" href="/weeklystatus/all">Weekly Status Feed <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/weeklystatus/user">My Weekly Statuses</a>
        </li>
        <li class="nav-item">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Create Weekly Status
          </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Weekly Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form id="create-weekly-status">
                      <div class="form-group">
                        <input type="hidden" name="tester" value="{{currentUser._id}}">
                      </div>
                      <div class="form-group">
                        <label for="beginDate">Week Start Date</label>
                        <input type="date" name="beginDate">
                      </div>
                      <div class="form-group">
                        <label for="endDate">Week End Date</label>
                        <input type="date" name="endDate">
                      </div>
                      <div class="form-group">
                        <label for="stories">Stories Tested</label>
                        <input type="text" name="stories">
                      </div>
                      <div class="form-group">
                        <label for="bugsCreated">Bugs Opened</label>
                        <input type="text" name="bugsCreated">
                      </div>
                      <div class="form-group">
                        <label for="ticketsRejected">Tickets Rejected</label>
                        <input type="text" name="ticketsRejected">
                      </div>
                      <div class="form-group">
                        <label for="blockers">Blockers</label>
                        <input type="text" name="blockers">
                      </div>
                      <div class="form-group">
                        <label for="general">General(Can include PTO time, meetings, left early, etc.)</label>
                        <input type="text" name="general">
                      </div>
                       <div class="form-group">
                        <label for="nextWeek">Next Week</label>
                        <input type="text" name="nextWeek">
                      </div>
                      <div class="form-group">
                        <label for="testCases">Test Cases</label>
                        <input type="text" name="testCases">
                      </div>
                   </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="save-status" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                  </div>
                </div>
              </div>
            </div> 
        </li>
         {{else}}
         <li class="nav-item active">
          <a class="nav-link" href="/weeklystatus/all">Weekly Status Feed <span class="sr-only">(current)</span></a>
        </li>
        {{/if}}

      </ul>
      <span class="navbar-text">
        <ul class="navbar-nav mr-auto ">
          {{#if currentUser}}
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
              <img src="{{currentUser.userImage}}" alt="profilepic" class="user-img">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/userprofile"><h6>{{currentUser.username}}</h6></a>
            </li>
          {{else}}
            <li class="nav-item active">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Signup</a>
            </li>
          {{/if}}
         
        </ul>
      </span>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <nav class="navbar fixed-left navbar-dark bg-dark">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/projects" id="project-links"><h5>Projects</h5></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="user-links"><h5>Users</h5></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-10">
        {{{body}}}
      </div>
    </div>
  </div>
  
  




  
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>