
<div class="container py-2 border border-light p-5 bg-white p-2">
    <h1 class="font-weight-light text-center py-3 brand-name">Weekly Status Feed</h1>

    {{#each statuses}}
    <div id="timeline-row">
          <div class="row">
        <!-- timeline item 1 left dot -->
        <div class="col-auto text-center flex-column d-none d-sm-flex"  id="timeline-card">
            <div class="row h-50">
                <div class="col">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                {{!-- <span class="badge badge-pill bg-light border">&nbsp;</span> --}}
                 <img src="{{this.tester.userImage}}" alt="profilepic" class="user-img">
            </h5>
            <div class="row h-75">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <!-- timeline item 1 event content -->
        <div class="col py-2">
            <div class="card">
                <div class="card-body">
                    <div class="float-right text-muted">{{this.formattedUpdatedDate}}</div>
                    <h4 class="card-title text-muted">{{this.tester.firstName}} {{this.tester.lastName}} </h4>
                    <p class="card-text">Weekly Status for the week of {{this.formattedBeginDate}} - {{this.formattedEndDate}}</p>
                </div>
                <button class="btn btn-sm btn-outline-warning" type="button" data-target="#t2_details" data-toggle="collapse">Show Details ▼</button>
                    <div class="collapse border" id="t2_details">
                        <div class="p-2">
                          <div class="card-body">
                              <h6 class="card-title">Stories Tested</h6>
                              <p class="card-text">{{this.stories}}</p>
                              <h6 class="card-title">Bugs Opened</h6>
                              <p class="card-text">{{this.bugsCreated}}</p>
                              <h6 class="card-title">Tickets Rejected</h6>
                              <p class="card-text">{{this.ticketsRejected}}</p>
                              <h6 class="card-title">Blockers</h6>
                              <p class="card-text">{{this.blockers}}</p>
                              <h6 class="card-title">General</h6>
                              <p class="card-text">{{this.general}}</p>
                              <h6 class="card-title">Next Week</h6>
                              <p class="card-text">{{this.nextWeek}}</p>
                              <h6 class="card-title">Test Cases</h6>
                              <p class="card-text">{{this.testCases}}</p>
                            </div>
                            <div class="card-body">
                              <form id="status" action="">
                                <a href="#" data-id="{{this._id}}" class="card-link text-secondary " id="edit-status" data-toggle="modal" data-target="#editStatusModal">Edit Status</a>
                                <a href="#" data-id="{{this._id}}"  class="card-link delete-btn" id="delete-status" >Delete Status</a>
                              </form>
                            </div>
                            
                        </div>
                    </div>
                
            </div>
        </div>
    </div>

    </div>
    <!-- timeline item 1 -->


    <!-- Edit Modal -->
    <div class="modal fade" id="editStatusModal" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="editStatusModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editStatusModalLabel">Edit Weekly Status</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="edit-weekly-status">
              <div class="form-group">
                <input type="hidden" name="tester" value="{{currentUser._id}}">
              </div>
              <div class="form-group">
                <label for="beginDate">Week Start Date</label>
                <input type="date" name="beginDate">
                <label for="endDate">Week End Date</label>
                <input type="date" name="endDate">
              </div>
              <div class="form-group">
                <textarea class="form-control mb-4" name="stories" placeholder="Stories Accepted This Week" rows="3"></textarea>
              </div>
              <div class="form-group">
                <textarea class="form-control mb-4" name="bugsCreated" placeholder="Bugs Created This Week" rows="3"></textarea>
              </div>
              <div class="form-group">
                <textarea class="form-control mb-4" name="ticketsRejected" placeholder="Tickets Rejected This Week" rows="3"></textarea>
              </div>
              <div class="form-group">
                <textarea class="form-control mb-4" name="blockers" placeholder="Blockers This Week" rows="3"></textarea>
              </div>
              <div class="form-group">
                <textarea class="form-control mb-4" name="general" placeholder="General(Can include PTO time, meetings, left early, etc.)" rows="3"></textarea>
              </div>
              <div class="form-group">
                <textarea class="form-control mb-4" name="nextWeek" placeholder="Next Week" rows="3"></textarea>
              </div>
              <div class="form-group">
                <textarea class="form-control mb-4" name="testCases" placeholder="Test Cases" rows="3"></textarea>
              </div>
              <div class="form-group">
                <input type="hidden" name="id" >
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="save-edits" class="btn btn-warning" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div> 
  {{/each}}
</div>




       



 <script src="/javascripts/weeklyStatus.js"></script>