
<h1>Weekly Status Feed</h1>

{{#each statuses}}
  <div class="card">
    <div class="card-header">
      <h5>{{this.tester.firstName}} {{this.tester.lastName}} Weekly Status for the week of {{this.formattedBeginDate}} - {{this.formattedEndDate}}</h5>
    </div>
     <div>
      <p><i>Last Updated: {{this.formattedUpdatedDate}}</i></p>
    </div>
    <div class="card-body">
      <h6 class="card-title">Stories Tested</h6>
      <p class="card-text">{{this.stories}}</p>
      <h6 class="card-title">Bugs Opened</h6>
      <p class="card-text">{{this.bugsCreated}}</p>
      <h6 class="card-title">Tickets Rejected</h6>
      <p class="card-text">{{this.ticketsRejected}}</p>
      <h6 class="card-title">Blockers</h6>
      <p class="card-text">{{this.blockers}}</p>
      <h6 class="card-title">General</h6>
      <p class="card-text">{{this.general}}</p>
      <h6 class="card-title">Next Week</h6>
      <p class="card-text">{{this.nextWeek}}</p>
      
    </div>
    <div class="card-body">
      <form action="">
        <input type="hidden" name="status-id" id="status-id" value="{{this._id}}">
        <a href="#" class="card-link" id="edit-status">Edit Status</a>
        <a href="#" class="card-link" id="delete-status">Delete Status</a>
      </form>
    </div>
  </div>
  <hr>
{{/each}}




 <script src="/javascripts/weeklyStatus.js"></script>