<div>
  <h3>Projects</h3>



<form action="" method="POST">
        Project Name: <input type="text" name="projectName" id="project-name">
        <input type="submit" value="Add Project" id="addProjectBtn">
</form>



  </form>
  {{#each projects}}

    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a href='/projects/{{this._id}}' class="card-link">{{this.projectName}}</a></h5>
          <hr>
          <a href="#" class="card-link" data-id="{{this._id}}" data-toggle="modal" id="editProjectBtn" data-target="#editProject">Edit Project</a>
          <a href="#" class="card-link" data-id="{{this._id}}" id="delete-project">Delete Project</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated {{this.updated_at}}</small>
        </div>
      </div>
    </div>
  {{/each}}
</div>


<!-- Modal -->
<div class="modal fade" id="editProject" tabindex="-1" role="dialog" aria-labelledby="editProjectLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
         Project Name: <input type="text" name="projectName" id="project-name">
                        <input type="hidden" name="id">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveProjectChanges">Save changes</button>
      </div>
    </div>
  </div>
</div>



 <script src="/javascripts/project.js"></script>
