<h1>Ticket Details</h1>
<h3>{{test.ticketNumber}}</h3>

<hr>

<p>Summary: {{test.issueSummary}}</p>
<p>JiraLink: <a href="{{test.jiraLink}}">{{test.jiraLink}}</a></p>
<p> Test Environment: {{test.testEnvironment}}</p>
<p> Issue Type: {{test.testEnvironment}}</p>


